.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: calc(76 / 72);
  padding: 0;
  margin: 0;
  max-width: 460px;
}

@media (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media (max-width: 920px) {
  .place__title {
    font-size: 42px;
    line-height: calc(46 / 42);
    max-width: 340px;
  }
}

@media (max-width: 680px) {
.place__title {
    font-size: 32px;
    line-height: calc(35 / 32);
    max-width: 288px;
    margin: auto;
    margin-bottom: 32px;
  }
}
