.place__image {
  max-width: 460px;
}

@media (max-width: 1024px) {
.place__image {
    max-width: 440px;
  }
}

@media (max-width: 920px) {
.place__image {
    max-width: 340px;
  }
}

@media (max-width: 680px) {
.place__image {
    max-width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 32px;
  }
}
