.footer {
  width: 92.5%;
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer {
    width: 90.625%;
  }
}

@media (max-width: 768px) {
  .footer {
    width: 93.75%;
  }
}

@media (max-width: 686px) {
  .footer {
    flex-direction: column;
    margin-left: 16px;
  }
}
